name: kharoldcanova
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.6 <4.0.0"

dependencies:
  equatable: ^2.0.7
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_localizations:
    sdk: flutter
  font_awesome_flutter: ^10.9.1
  google_fonts: ^5.1.0
  intl: any
  url_launcher: ^6.1.12
  video_player: ^2.10.1

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/
    - assets/videos/
    - assets/videos/banner-video.mp4
